@page "/"
@inherits ToDoItemBase

@if(ToDoItemDtos == null)
{
    <h3>Loading..</h3>
}
else
{
    <h3>ToDo Items</h3>

    var toDoItemsCount = ToDoItemDtos.Count();
    
    @if(toDoItemsCount > 0)
    {
        @foreach(var item in ToDoItemDtos)
        {
            <h3>@item.Name</h3>
            <p>@item.Description</p>
        }
    }
}

