@page "/AddToDoItem"
@inherits AddToDoItemBase

<div class="card">
    <div class="card-header">
        <h3>Add new TODO Item</h3>
    </div>
    <div class="card-body d-flex flex-column gap-3">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" placeholder="Name" id="name" @bind="name" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input id="description" class="form-control" placeholder="Description" @bind="description" />
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" @onclick="AddNewToDO">Add TODO</button>
        <a href="#" class="btn btn-success">Back</a>
    </div>
</div>