@page "/"
@inherits ToDoItemBase

@if(ToDoItemDtos == null)
{
    <div class="d-flex justify-content-center align-items-center vh-100">
        <Spinner Color="Color.Light" Size="Size.ExtraLarge" SpinnerType="SpinnerType.Border"></Spinner>
    </div>
}
else
{
    var toDoItemsCount = ToDoItemDtos.Count();
    
    <div class="">
        <div class="d-flex justify-content-between">
            <h3>
                ToDo Items
            </h3>
            <a href="/AddToDoItem" class="btn btn-primary m-2">New ToDo</a>
        </div>
        <div class="">
            @if (toDoItemsCount > 0)
            {
                <DisplayToDoItems ToDoItemDtos="@ToDoItemDtos" />
            }
        </div>
    </div>
}

