@page "/ToDoItemDetails/{Id:int}"
@inherits ToDoItemDetailsBase

@if(ToDoItemDto == null && ErrorMessage == null)
{
    <div class="vh-100 d-flex justify-content-center align-items-center">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else if(ErrorMessage != null)
{
    <h3>@ErrorMessage</h3>
}
else
{
    <div class="conatiner flex-column d-flex gap-2">
        <div class="">
            <h3>Details</h3>
        </div>
        <div class="">
            <div class="card is-collapsable mt-3">
                <div class="card-header">
                    <div class="card-collapse-bar">
                        <span class="card-title">@ToDoItemDto.Name</span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-body-wrapper">
                        @ToDoItemDto.Description
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <a href="EditToDoItem/@Id" class="btn btn-secondary">Edit ToDo</a>
            <a href="#" class="btn btn-success">Back</a>
        </div>
    </div>
}
