

<div class="modal fade show" id="deleteToDoModal" style="display:block;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h4>Delete TODO</h4>
            <button type="button" class="close" @onclick="ModalCancel">&times;</button>
        </div>
        <div class="modal-body">
            Are you sure to delete TODO?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @onclick="ModalCancel">Close</button>
            <button type="button" class="btn btn-danger" @onclick="ModalOk">Confirm</button>
        </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }
}